//bg colors
$bgColor: hsl(194, 25%, 94%);
$headerColor: hsl(194, 25%, 49%);
$footerColor: hsl(194, 25%, 35%);

//text
$headerText: white;
$footerElements: white;
$h1Color: hsl(194, 25%, 39%);

$btnHover: hsl(194, 25%, 29%);

$shadow: hsl(194, 15%, 59%);
