* {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.active-page {
  border-radius: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

h1 {
  padding: 1rem 0;
  font-size: 3.5rem;
  color: hsl(194deg, 25%, 39%);
}
@media (min-width: 992px) {
  h1 {
    font-size: 4.5rem;
  }
}

header {
  color: white;
}
header a {
  color: white;
}
@media (max-width: 35em) {
  header a {
    color: black;
  }
}

.mobile-nav-toggle {
  display: none;
}

header {
  position: fixed;
  z-index: 2010;
  width: 100%;
  font-size: 1.2rem;
  background-color: hsl(194deg, 25%, 49%);
}
header .primary-nav {
  list-style: none;
  display: flex;
  gap: 3rem;
}
header i {
  font-size: 2rem;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 35em) {
  .primary-nav {
    flex-direction: column;
    padding: min(10rem, 20vh);
    position: fixed;
    inset: 0 0 0 20%;
    z-index: 1000;
    gap: 2rem !important;
    background: hsl(194deg, 25%, 94%);
    box-shadow: 0 0 5px hsl(194deg, 15%, 59%);
    transform: translateX(110%);
    transition: transform 350ms ease-in;
  }
  .primary-nav[data-visible=true] {
    transform: translateX(0%);
  }
  .mobile-nav-toggle {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 9999;
    background: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .mobile-nav-toggle[aria-expanded=true] {
    color: black;
  }
}
footer {
  background-color: hsl(194deg, 25%, 35%);
  color: white;
}
footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  justify-content: space-between;
}
@media (min-width: 768px) {
  footer .footer-wrapper {
    flex-direction: row;
  }
}
footer a {
  color: white;
}
footer h1 {
  font-size: 1rem;
  color: white;
}
footer i {
  color: white;
  font-size: 1.4rem;
  padding-right: 0.5rem;
}
footer ul {
  list-style: none;
}

.img-container {
  width: 70%;
  max-width: 550px;
  overflow: hidden;
  margin-left: 1rem;
  border-radius: 1em;
}

.portrait {
  width: 100%;
  filter: blur(0.5rem);
}
.portrait:hover {
  transition: transform 350ms ease-in-out;
  transform: scale(1.1);
}

section.card {
  border-radius: 1em;
  transition: transform 350ms ease-in-out;
  background-color: white;
  max-width: 70%;
  position: relative;
  bottom: 150px;
  left: 50px;
  padding: 1rem;
}

body {
  background-color: hsl(194deg, 25%, 94%);
}

* {
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.page-content {
  margin-top: 2rem;
  flex: 1;
  padding: 3rem 0.5rem;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

a.floating-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: hsl(194deg, 25%, 49%);
  color: white;
  border: none;
  border-radius: 50%;
  right: 1vh;
  bottom: 30vh;
}
a.floating-btn:hover {
  background-color: hsl(194deg, 25%, 29%);
}/*# sourceMappingURL=style.css.map */